services:
  postgres:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_DB: socialdb
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d socialdb"]
      interval: 5s
      timeout: 5s
      retries: 5

  auth-service:
    build: ./auth-service
    container_name: auth-service
    ports:
      - "3001:3001"
    env_file:
      - ./auth-service/.env
    restart: unless-stopped

  like-service:
    build: ./like-service
    container_name: like-service
    ports:
      - "3002:3002"
    env_file:
      - ./like-service/.env
    restart: unless-stopped

  post-service:
    build: ./post-service
    container_name: post-service
    ports:
      - "3003:3003"
    env_file:
      - ./post-service/.env
    restart: unless-stopped

  user-service:
    build: ./user-service
    container_name: user-service
    ports:
      - "3004:3004"
    env_file:
      - ./user-service/.env
    restart: unless-stopped

volumes:
  postgres_data:
